PORT=4000
SUPABASE_URL=https://PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=isi-service-role-key-dari-supabase
SUPABASE_CO_PROOF_BUCKET=co-proofs
SUPABASE_RECAP_CATEGORY_BUCKET=recap-categories
JWT_SECRET=ubah-secret-ini
FRONTEND_URL=http://localhost:5173
